/* todo
 WHEN I am presented with the developer's first application
THEN that application's image should be larger in size than the others*/

:root {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}
aside {
  flex: 1 0;
  padding-right: 1%;
  min-height: 100%;
  max-width: 150px;
  border-right: solid #2e3844 3px;
  background: linear-gradient(#2e3844, #548c89);
}
aside h3 {
  padding-top: 70vh;
  padding-bottom: 5vh;
}
body {
  background: linear-gradient(#2e3844, #548c89);
}

h1 {
  margin: 0;
  font-size: 5rem;
}

h2 {
  margin: 1% 7%;
  padding-left: 3%;
  font-size: 2rem;
  color: ivory;
}
h3 {
  margin-right: 3%;
  font-size: 2rem;
  color: ivory;
  text-align: right;
}
h4 {
  margin: 1% 7%;
  padding-left: 3%;
  font-size: 1rem;
  color: ivory;
  justify-content: center;
}
main {
  display: block;
  width: 100vw;
}

nav {
  background-color: #2e3844;
  justify-content: center;
  height: 50px;
}

nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

ul li a {
  color: white;
}

#about-me {
  border-top: solid #2e3844 3px;
  padding: 1%;
  margin: 1% 7%;
  color: ivory;
  margin-right: 0%;
}
#contact-me {
  text-decoration: underline;
  text-align: center;
}
#profile-pic {
  max-width: 75%;
}
#work {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.about-me {
  display: inline-flex;
  max-height: 100%;
  height: 100%;
}
.background-head {
  display: flex;
  min-height: 500px;
  background-image: url(./axel-czikora-GfTU54kkFmM-unsplash.jpg);
  background-position: center;
  background-size: cover;
  justify-content: end;
  align-items: flex-end;
  max-width: 100%;
  min-height: 500px;
}

.background-head h1 {
  display: block;
  background-color: #2e3844;
  color: #548c89;
  font-size: 2rem;
}
.cards {
  background: linear-gradient(#2e3844, #548c89);
  box-sizing: border-box;
  border: solid white 3px;
  /* max-width: 391px; */
  padding: 1%;
  margin: 1% 3%;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  box-shadow: inset 0px 0px 8px #548c89 #2e3844;
}
.cards p {
  background: linear-gradient(#2e3844, #548c89);
  color: white;
  text-decoration: underline;
  font-size: 1.5rem;
}
.contact-me {
  display: flex;
  list-style-type: none;
  color: white;
  text-decoration: underline;
  align-items: center;
}
.contact-me li {
  padding: 5%;
}
.feature-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.feature-image {
  display: flex;
  min-height: 300px;
  background-image: url(https://images.unsplash.com/photo-1638913658828-afb88c3d4d11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=60);
  background-position: center;
  background-size: cover;
  justify-content: end;
  align-items: flex-end;
  max-width: 100%;
  cursor: pointer;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(#2e3844, #548c89);
  width: 100%;
  height: 100%;
}
.flex-container p {
  text-align: center;
}
.info-me {
  flex: 1;
  background-color: white;
  padding: 20px;
  min-height: 20%;
  border-right: solid #2e3844 3px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(#2e3844, #548c89);
}
.test {
  flex: 1;
  background: linear-gradient(#2e3844, #548c89);
}

.main-header {
  background: linear-gradient(#2e3844, #548c89);
  color: white;
}

.main-header h1 {
  text-align: center;
}
.profile-pic {
  width: 50%;
}
.work-head {
  border-right: solid #2e3844 5px;
  padding-right: 5%;
  min-height: 100%;
  margin: auto, 5%;
}

@media screen and (max-width: 963px) {
  .main-header h1 {
    font-size: 4rem;
  }
  nav {
    height: 100%;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    padding-top: 0%;
  }
  .contact-me {
    flex-direction: column;
  }
  .info-me {
    justify-content: center;
    display: block;
  }
  #contact-me {
    text-align: center;
  }
}
